* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  background-color: aqua;
  padding: 100px;
}
.item {
  height: 75px;
  background-color: darkgrey;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid tomato;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
